@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}


html{
  font-size: 62.5%;
}


body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #140f24;
  color: white;
  line-height: 1.6;
  font-size: 1.6rem;
}


header{
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.container {
  width: 50%;
  max-width: 900px;
  margin: 0 auto;
}


.logo {
  font-size: 4rem;
  color: #9b5cff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: #9b5cff;
  border-bottom: 3px solid #9b5cff;
}

.hero {
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
  /* justify-content: center; */
  padding: 0;
  height: 70%;
  margin-top: 20rem;
}

.hero-content {
  /* width: 40%; */
  line-height: 2.0;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
}

.hero-subtitle {
  font-size: 1.6rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 2rem;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  margin: 3 1.5rem 3rem;
  transition: 0.3s ease;
  border: 0.2rem solid #9b5cff;
  box-sizing: border-box;
}

.social-icons a:hover {
  color: #9b5cff;
  transform: scale(1.2);
}

.about-top {
  display: flex;
  gap: 10rem;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.about-text {
  flex: 1;
}

.about-img {
  display: flex;
  justify-content: center; /* centers the circle in its container */
  align-items: center;     /* optional for vertical centering */
  flex: none;              /* prevents it from stretching */
}

.about-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 5rem;
}

.about h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.about table {
  width: 100%;
  border-collapse: collapse;
}

.about th,
.about td {
  padding: 1rem;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  text-align: left;
}

.about th {
  color: #9b5cff;
}


.blog {
  margin-top: 10rem;
}


.card {
  color: inherit;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  border-color: white;
  border: 1px solid #9b5cff;
  transition: 0.3s ease;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.1);
  color: #9b5cff;
}

.card h2 {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.card p {
  margin-left: 10px;
  color: #9ca3af;
}

.card .post-date {
  font-size: 1.3rem;
  color: #6b7280;

}

.tag-container {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  margin-left: 5px;
}

.tag {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #9b5cff;
  padding: 5px;
  transition: 0.3s ease;
  color: #9b5cff;
}

.tag:hover {
  transform: scale(1.1);
}

.blog-data {
  margin-top: 20px;
}

.post-header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #e5e7eb;
  /* padding-bottom: 1.5rem; */
}


.post-description {
  color: #9ca3af;
  margin: 0;
}

.post-date {
  color: #6b7280;
  margin-top: 10px;
}


/* phone stuff */
@media (max-width: 1480px) {
  .container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }

  .social-icons {
    gap: 1.5rem;
  }
  .about-top {
    gap: 1.5rem;
    flex-direction: column;
  }

  header{
    margin: 0 0;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 100;
  }

  nav {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }


}
