<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  </head>
  <body>
    <header>
      <a href="/" class="logo"> Drime's blog</a>
      <nav>
        <a href="/about/" class="active"> About Me</a>
        <a href="/writeups/" class="active">Writeups</a>
        <a href="/blog/" class="active">Blog</a>
        <a href="/resume/" class="active">Resume</a>
      </nav>
    </header>
    <section class="container">
      <slot />
    </section>
  </body>
</html>

