@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}


html{
  font-size: 62.5%;
}


body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #140f24;
  color: white;
  line-height: 1.6;
}


header{
  margin-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;
}


.logo {
  font-size: 4rem;
  color: #9b5cff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  color: #9b5cff;
  border-bottom: 3px solid #9b5cff;
}

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  height: 70%;
}

.hero-content {
  width: 40%;
  line-height: 2.0;
}

.hero-title {
  font-size: 4rem;
  font-weight: 600;
}

.hero-subtitle {
  font-size: 1.6rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-top: 2rem;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  color: white;
  font-size: 3rem;
  border-radius: 50%;
  margin: 3 1.5rem 3rem;
  transition: 0.3s ease;
  border: 0.2rem solid #9b5cff;
  box-sizing: border-box;
}

.social-icons a:hover {
  color: #9b5cff;
  transform: scale(1.2);
}



