---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class = "hero hero-content">
    <h2 class="hero-title">Hi, I'm Dhruv</h2>
    <p class="hero-subtitle">
      Welcome to my homepage! I'm mainly interested Computer Science
      and Cybersecurity and I'll try to talk about it here.
    </p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/dhruv-kandula/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/Drime648"><i class="fa-brands fa-github"></i></a>
      <a href="mailto:dhruv.kandula@gmail.com"><i class="fa fa-envelope"></i></a>
      <a href="https://discord.com/users/263088881933484042"><i class="fa-brands fa-discord"></i></a>
    </div>
  </div>
</BaseLayout>
