---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="blog">
    <h1>Blog</h1>
    <div class="posts">
      <a class="card" href="/blog/CPTC_Infrastructure/">
        <h3>Test Title</h3>
        <p>Test Description</p>
        <div class="tag-container">
          <span class="tag">tag1</span>
          <span class="tag">tag2</span>
        </div>
      </a>
    </div>
  </div>
</BaseLayout>
